#signIn{
    position: relative;
    align-items: center;
    left: 550px;
    border: 3px;
    height: 500px;
    width: 400px;
    border-width: 3px;
    padding: 10px;
    bottom: -50px;
    border-style: double;
    background-color: #5c7873;
}

/*Para titulos*/
h1 {
  color: #5cead5;
  font-family: "Monaco", monospace;
}

/*Para los campos de los formulario*/
label {
  font-size: large;
  color: #48b4f2;
  font-weight: bold;
  font-family: "Georgia", serif;
}

/*Iniciar sesion*/
p {
  font-family: "Georgia", serif;
}